#pagemember .top{ width:830px; height:80px; background:#cccccc; float:right; margin-top:30px;
opacity:0.7;overflow:hidden; border:0;}

.top .one {
    float: left;
    height: 45px;
    margin-top: 10px;
    width: 100px;
}
.top .one ul li {
    color: #ffffff;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
	margin-top:5px;
    width: 100px;
}

.top .two {
    float: left;
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
    width: 250px;
}
.top .two ul li {
    color: #ffffff;
    float: left;
    font-size: 14px;
    height: 20px;
	margin-top:5px;
    line-height: 20px;
    width: 250px;
}
.top .three {
    float: right;
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
    width: 100px;
}
.top .three ul li {
    color: #ffffff;
    float: left;
    font-size: 14px;
    height: 20px;
	margin-top:5px;
    line-height: 20px;
    width: 100px;
}

.middle{width:100%; height:700px; box-shadow:6px -6px 15px -4px #000;}
.middle2{width:100%; height:730px; box-shadow:6px -6px 15px -4px #000;}
#pagemember #menu{width:180px; background:#999999; padding:0; float:left;}
#pagemember #menu .tit1{height:60px; line-height:70px; font-size:22px; color:#ffffff; float:left; width:100%;}
#pagemember #menu .tit2{height:50px; line-height:50px; font-size:22px; color:#ffffff; float:left; width:100%;}
#pagemember #menu .tit3{height:40px; line-height:40px; font-size:18px; color:#ffffff; text-align:center; float:left; width:100%;}
#pagemember #menu .tit4{height:30px; line-height:30px; font-size:18px; color:#ffffff; text-align:center; float:left; width:100%;}
#pagemember #menu .tit5{height:30px; line-height:30px; font-size:18px; color:#ffffff; text-align:center; background:#cccccc; float:left; width:100%;}
#pagemember #menu li{float:left;padding-left:0;}
#pagemember #menu li a{ height:30px; font-size:18px; line-height:30px;}
#pagemember #menu li a:hover,#pagemember #menu li a:active,#pagemember #menu li a:visited{ color:#ffffff; background:url(../images/munebg.png) no-repeat;}
.mt10{margin-top:10px;} .mt12{margin-top:12px;} 
.ml10{margin-left:10px;}
#pagemember .place{height:60px; width:780px; line-height:60px; font-size:18px; float:left; color:#ff6666;}
#pagemember .place a{color:#ff6666; text-decoration:none;}
#pagemember .main2{background:#ffffff; width:780px; padding:0; float:left; height:700px;}
#pagemember .main3{background:#ffffff; width:780px; padding:0; float:left; height:730px;}
.main3 .four {
    float: right;
    height: 45px;
    margin-top: 5px;
    width: 100px;
}
.main3 .four ul li {
    float: left;
    font-size: 14px;
    height: 20px;
	margin-top:5px;
    line-height: 20px;
    width: 100px;
}
#pagemember .main3 .four ul li a{color:#000000; text-decoration:none;}
#pagemember .main3 .four ul li a:hover{color:#ff6666;}
#tikutable{ margin:0 auto; margin-left:20px; float:left; width:760px;}
#tikutable ul {width:97%;height:25px;list-style:none} 
#tikutable ul.lbtop{background:#cccccc;height:30px;}
#tikutable ul.lbtop li {border-right:1px solid #ccc;border-bottom:1px solid #ccc;float:left;height:30px;text-align:center;line-height:30px; font-size:16px;}
#tikutable li {border-right:1px solid #ccc;border-bottom:1px solid #ccc;float:left;height:25px;text-align:center;line-height:25px; font-size:12px;}
#tikutable li.lb{width:24%; border-left:1px solid #ccc;}
#tikutable li.zt{width:15%;}
#tikutable li.df{width:15%;}
#tikutable li.gx{width:15%;}
#tikutable li.xx{width:15%;}
#tikutable li.cz{width:15%;}



.page-box {
    min-height: 25px;
    padding: 30px 0;margin:0 auto; margin-left:20px; float:left; width:760px;
}
.page-box .pagination {
    overflow: hidden;
}
.page-box .pagination ul {
    float: left;
}
.page-box .pagination li {
    float: left;
    margin-right: 10px;
    text-align: center;
}
.page-box .pagination li a {
    border: 1px solid #fff;
    float: left;
    font: 14px/22px Arial;
    height: 22px;
    padding: 0 7px;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
}
.page-box .pagination li a:hover {
    border: 1px solid #ed4259;
}
.page-box .pagination .lbf-pagination-next, .page-box .pagination .lbf-pagination-prev {
    font-family: simsun;
    line-height: 24px;
}
.page-box .pagination .lbf-pagination-current {
    background: #ed4259 none repeat scroll 0 0;
    border: 1px solid #ed4259;
    color: #fff;
}
.page-box .pagination .lbf-pagination-disabled {
    color: #ccc;
    cursor: default;
}
.page-box .pagination .lbf-pagination-disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
}
.page-box .pagination .lbf-pagination-jump {
    float: left;
}
.page-box .pagination .lbf-pagination-jump input {
    border: 1px solid #f2f2f2;
    display: inline-block;
    font: 12px/22px Arial;
    height: 22px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
.page-box .pagination .lbf-pagination-jump input:focus {
    border: 1px solid #bbdaff;
}
.page-box .pagination .lbf-pagination-jump .lbf-pagination-go {
    border: 1px solid #f2f2f2;
    display: inline-block;
    font: 12px/22px PingFangSC-Regular,HelveticaNeue-Light,"Helvetica Neue Light","Microsoft YaHei",sans-serif;
    height: 22px;
    text-align: center;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
    vertical-align: middle;
    width: 34px;
}
.page-box .pagination .lbf-pagination-jump .lbf-pagination-go:hover {
    border: 1px solid #ed4259;
}

.cf {
}
.cf::after, .cf::before {
    content: "";
    display: table;
}
.cf::after {
    clear: both;
}
.fl {
    float: left;
}


.mt50{margin-top:50px;}
#pagemember #menu .l_top{height:60px; font-size:16px; color:#ffffff; float:left; width:100%; background:#cccccc;}
#pagemember #menu .l_top img{float:left;}
#pagemember #menu .l_top .l_t_mes{float:left; width:100px; margin-left:10px; margin-top:10px;}
#pagemember #menu .l_top .l_t_mes span{width:100%;}
#pagemember #menu .tit6{height:30px; line-height:30px; font-size:18px; color:#ffffff; text-align:center; float:left; width:100%; background:#666666;}
#pagemember #menu .tit7{height:20px; line-height:20px; font-size:14px; color:#ffffff; text-align:center; background:#cccccc; float:left; width:100%;}
#pagemember #menu .l_t_lb{height:640px; background:#cccccc; float:left;}
#pagemember #menu .l_t_lb li{float:left;padding-left:0;}
#pagemember #menu .l_t_lb li a{ height:20px; font-size:14px; line-height:20px;}
#pagemember #menu .l_t_lb li a:hover,#pagemember #menu .l_t_lb li a:active,#pagemember #menu .l_t_lb li a:visited{ color:#ffffff; background:url(../images/munebg2.png) no-repeat;}

.shiti{margin:0 auto; width:90%; border-top:5px #cccccc solid; float:left; height:635px; margin-left:5%;}
.shiti .titlebox{width:58%; float:left;}
.shiti .musicbox{width:40%; float:right; height:25px;}
.shiti .xuanxbox{width:100%; float:left;}
.shiti .imgbox{border-bottom:1px #000 dashed;}
.shiti .xuanxbox .imgbox img{max-width:100%; max-height:100px;}
.shiti #xuanxunit {}

.pnbox{width:30%; height:35px; float:left; color:#F00; margin-top:20px;}
.pnbox a{ color:#F00; text-decoration:none;}

.score{float:right; color:#000; text-decoration:underline; margin-right:10%;}
.score span{ color:#ff6666; margin:0; padding:2px;}

#thlb{}
#thlb .top{ width:90%; height:30px; line-height:30px; color:#ffffff; font-size:18px; float:left;}
#thlb .bottom{width:90%;float:left;}
#thlb .bottom ul{margin-left:2%; float:left; width:65%;}
#thlb .bottom ul li{ float:left; width:30px; height:30px; line-height:30px; font-size:18px; text-align:center;}
.dashed{width:90%; height:50px; border-bottom:2px dashed #FF0000; float:left;}
#ckda{}
#ckda .top{ width:90%; height:30px; line-height:30px; color:#ffffff; font-size:18px; float:left;}
#ckda .bottom{width:90%;float:left;}
#ckda .bottom ul{margin-left:2%; float:left; width:95%;}
#ckda .bottom ul li{ float:left; width:120px; height:20px; line-height:20px; font-size:16px; text-align:center; border-right:1px solid #000; margin-top:10px;}
#ckda .bottom ul li span{padding-left:15%;}